$cubic: cubic-bezier(0.05, 0.79, 0.82, 0.31);
$cubic2: cubic-bezier(0.35, 1.1, 0.57, 0.76);
$delay: 0.7s;

:host {
  height: 100vh;
  display: flex;
  align-items: center;
  //   background: #f093fb linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}

.canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0%;
  height: 100%;
  animation: canvasContainer 1s $delay ease-out forwards;
  // background: linear-gradient(120deg,  #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(
    90deg,
    rgba(253, 251, 251, 0) 0%,
    rgba(253, 251, 251, 0.2) 20%,
    rgba(253, 251, 251, 0.6) 50%,
    #ebedee 100%
  );
}

.canvas {
  position: absolute;
  top: 0;
  right: 0;
}

.container {
  position: relative;
  z-index: 100;
  top: -7%;
  max-width: 500px;
  max-height: 500px;
  width: 50vw;
  height: 50vw;
  animation: moveInContainer 1s $delay ease-out;
  div {
    position: absolute;
  }
  div:nth-last-child(n + 2) {
    background: #c5a028;
  }
}

.text {
  font-family: "Oswald", sans-serif;
  top: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 90%;
  height: 50%;
  background: none;
  font-size: 3.5vw;
  line-height: 1;
  text-transform: uppercase;
  opacity: 0;
  animation: text 0.5s 1.4s + $delay $cubic2 forwards;
  color: #c5a028;
  color: #ffffff;
  word-spacing: 100vw;
  h1 {
    margin: 0;
  }
}

.mask {
  right: 0;
  width: 0%;
  height: 100%;
  animation: mask 1s 0.9s + $delay $cubic2;
}

.line-top {
  top: 0;
  left: 0;
  width: 0px;
  height: 20px;
  animation: lineTop 0.8s $delay $cubic forwards;
}
.line-right {
  right: 0;
  bottom: 0;
  width: 20px;
  height: 0px;
  animation: lineRight 0.8s $delay $cubic forwards;
}
.line-bottom {
  right: 0;
  bottom: 0;
  width: 0px;
  height: 20px;
  animation: lineBottom 0.8s $delay $cubic forwards;
}
.line-left {
  left: 0;
  bottom: 0;
  width: 20px;
  height: 0px;
  animation: lineLeft 0.8s $delay $cubic forwards;
}

@keyframes moveInContainer {
  from {
    opacity: 0;
    transform: translateX(20%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes mask {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@keyframes lineTop {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes lineRight {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
@keyframes lineBottom {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes lineLeft {
  from {
    height: 0%;
  }
  to {
    height: 50%;
  }
}
@keyframes text {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes canvasContainer {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .text {
    font-size: 35px;
  }
}

@media screen and (min-width: 701px) {
  .container {
    left: 10%;
  }
}

@media screen and (max-width: 700px) {
  :host {
    justify-content: center;
  }
  .container {
    top: -10%;
    width: 60vw;
    height: 60vw;
  }
  .text {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 70vw;
    height: 70vw;
  }
  .text {
    width: 65%;
    font-size: 16px;
  }
}

@media screen and (max-width: 350px) {
  .container {
    width: 250px;
    height: 250px;
  }
  .text {
    width: 65%;
    font-size: 16px;
  }
}

@media screen and (max-height: 600px) and (orientation: landscape) {
  .container {
    width: 70vh;
    height: 70vh;
  }
  .text {
    font-size: 4.5vh;
  }
}

@media screen and (max-height: 300px) and (orientation: landscape) {
  .container {
    width: 170px;
    height: 170px;
  }
  .text {
    font-size: 11px;
  }
}
