@mixin mat($property, $delay:"") {
  transition-property: $property;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(.25,.8,.25,1);
  transition-delay: unquote($delay);
}

.btn {
  cursor: pointer;
  align-self: flex-end;
  width: 140px;
  height: auto;
  min-height: 50px;
  margin: 20px;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #ffffff;
  border: 0;
  border-radius: 2px;
  @include mat(color);
}

.btn:hover, .btn:focus {
  outline: none;
  background-color: rgba(221, 221, 221, 0.4);
}

.btn[disabled] {
  color: rgba(221, 221, 221, 0.9);
}

.btn[disabled]:hover {
  cursor: not-allowed;
  background-color: rgba(221, 221, 221, 0.0);
}