[project-tech="angular"] {
    background: url('/static/icons/angular.svg');
}
[project-tech="firebase"] {
    background: url('/static/icons/firebase.svg');
}
[project-tech="bootstrap"] {
    background: url('/static/icons/bootstrap.svg');
}
[project-tech="jquery"] {
    background: url('/static/icons/jquery.svg');
}
[project-tech="googlemaps"] {
    background: url('/static/icons/googlemaps.svg');
}
[project-tech="vue"] {
    background: url('/static/icons/vue.svg');
}
[project-tech="sass"] {
    background: url('/static/icons/sass.svg');
}
[project-tech="webpack"] {
    background: url('/static/icons/webpack.svg');
}
[project-tech="wordpress"] {
    background: url('/static/icons/wordpress.svg');
}
[project-tech="material"] {
    background: url('/static/icons/material.svg');
}
[project-tech="javascript"] {
    background: url('/static/icons/js.svg');
}
[project-tech="hammerjs"] {
    background: url('/static/icons/hammerjs.png');
}
[project-tech="socketio"] {
    background: url('/static/icons/socketio.svg');
}
[project-tech="nodejs"] {
    background: url('/static/icons/nodejs.svg');
}
[project-tech="expressjs"] {
    background: url('/static/icons/expressjs.png');
}
[project-tech="mongodb"] {
    background: url('/static/icons/mongodb.png');
}

[project-github="github"] {
    background: url('/static/icons/github.svg');
}
[project-live="live"] {
    background: url('/static/icons/live.svg');
}

.project__icon {
    position: relative;
}

a.project__icon:hover::after {
    content: attr(aria-label);
}

.project__icon:hover::after {
    content: attr(project-tech);
}

.project__icon:hover::after {
    position: absolute;
    white-space: nowrap;
    top: -45px;
    left: 0;
    background: #444;
    color: #fff;
    padding: 10px;
}
.project__icon:hover::before{
    content: "";
    position: absolute;
    border-top: 10px solid #444;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    top: -6px;
}

