<!-- <nav [@toggleNavigation]="navigationState" class="navigation" #navigation>
  <span class="active-move" #selector></span>
  <span #navigationLink class="navigation-link__container"><a routerLink="/home" routerLinkActive="active">home</a></span>  
  <span #navigationLink class="navigation-link__container"><a routerLink="/projects" (click)="navigateToProject()" routerLinkActive="active">projects</a></span> 
  <span #navigationLink class="navigation-link__container"><a routerLink="/contact" routerLinkActive="active">contact</a></span>
</nav> -->

<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-flt">
  <defs>
    <filter id="goo">
      <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
      <feColorMatrix
        in="blur"
        mode="matrix"
        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7"
        result="goo"
      />
      <feComposite in="SourceGraphic" in2="goo" operator="atop" />
    </filter>
  </defs>
</svg>
